[submodule "lovit"]
	path = lovit
	url = git@ssh.dev.azure.com:v3/textscope/Textscope/lovit
[submodule "kakaobank_wrapper"]
	path = kakaobank_wrapper
	url = git@ssh.dev.azure.com:v3/textscope/Textscope/kakaobank_wrapper
[submodule "kbcard_wrapper"]
	path = kbcard_wrapper
	url = git@ssh.dev.azure.com:v3/textscope/Textscope/kbcard_wrapper
[submodule "inference_server"]
	path = inference_server
	url = git@ssh.dev.azure.com:v3/textscope/Textscope/inference_server
