[submodule "textscope_wrapper"]
	path = textscope_wrapper
	url = git@github.com:Lomin-ai/textscope-wrapper.git
	branch = feature/base_function_api
[submodule "inference_server"]
	path = inference_server
	url = git@github.com:Lomin-ai/inference_server.git
	branch = develop
[submodule "pp_server"]
	path = pp_server
	url = git@github.com:Lomin-ai/pp_server.git
	branch = develop
