[submodule "lovit"]
	path = lovit
	url = git@github.com:Lomin-ai/lovit.git
	branch = develop
[submodule "textscope_wrapper"]
	path = textscope_wrapper
	url = git@github.com:Lomin-ai/textscope-wrapper.git
	branch = develop
[submodule "kbcard_wrapper"]
	path = kbcard_wrapper
	url = git@github.com:Lomin-ai/wrapper-kbcard-frc-2107.git
	branch = develop
[submodule "inference_server"]
	path = inference_server
	url = git@github.com:Lomin-ai/inference_server.git
	branch = develop
[submodule "pp_server"]
	path = pp_server
	url = git@github.com:Lomin-ai/pp_server.git
	branch = develop
